@import 'bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;700&display=swap');

html, body {
    font-family: 'Jost', sans-serif;
    font-size: 17px;
}

.filepond--root .filepond--credits {
    display: none;
}

.table tr td {
    vertical-align: middle;
}

.modal {
    display: block;
}

.modal-backdrop.show {
    opacity: 0.35;
}

.btn-standard {
    background-color: #6b6b6b;
    background-color: #bea67c;
    color: #fff;
    border: 0;
    box-shadow: none;
    padding: 10px 28px;
    font-size: 16px;
    text-transform: uppercase;
    border: 1px solid transparent;
}
.btn-standard:hover {
    background-color: #fff;
    color: #60605e;
    border-color: #60605e;
}

.admin_panel .navbar-collapse {
    justify-content: end;
}

.admin-search-clear {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    box-shadow: none;
    background: none;
    border: 0;
    line-height: 0;
    font-size: 25px;
    color: #999;
    font-weight: 100;
    margin-top: -2px;
}

/* Product Item */
.ProductColorHooper_wrapper {
    position: relative;
}
.ProductColorHooper_wrapper .hooper_nav_button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 25px;
    height: 25px;
    z-index: 10;
    border: 0;
    box-shadow: none;
}
.ProductColorHooper_wrapper .hooper_nav_button_prev {
    background-image: url('/img/hooper_prev.svg');
    left: 0;
    opacity: 0.6;
}
.ProductColorHooper_wrapper .hooper_nav_button_next {
    background-image: url('/img/hooper_next.svg');
    right: 0;
    opacity: 0.6;
}
.ProductColorHooper {
    height: 450px !important;
}
.product-colors-slide {
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.product-item-page h1 {
    font-weight: 400;
}
.product-info-buttons button {
    box-shadow: none;
    text-align: center;
    background: none;
    padding: 15px;
    border: 1px solid #ddd;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
}
.product-info-buttons img {
    width: 25px;
    height: 25px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}
.product-info-buttons button span {
    border-bottom: 1px dashed;
    font-size: 14px;
    color: #bea67c;
}
.product-info-buttons .modal-header .btn-close {
    width: auto;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
    border: none;
    margin: 0;
}
.product-colors-list,
.product-sizes-list,
.product-types-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.product-colors-list li,
.product-sizes-list li,
.product-types-list li {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}
.product-color-button,
.product-size-button,
.product-type-button {
    cursor: pointer;
    padding: 8px 12px;
    line-height: 1;
    background: none;
    border: 2px solid #ddd;
    border-radius: 6px;
    margin: 0;
    font-size: 15px;
}
.product-color-button_active,
.product-size-button_active,
.product-type-button_active {
    border-color: #bea67c;
}
.product-item-page .price {
    color: #222;
    font-size: 50px;
    line-height: 1;
}
.product-item-page .price del {
    font-size: 28px;
    color: #5d5d64;
    font-weight: 300;
    text-decoration: none;
    position: relative;
}
.product-item-page .price del:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #5d5d64;
}
.stickers {
    position: absolute;
    left: 30px;
    top: 0;
    z-index: 10;
}
.sticker {
    width: 60px;
    height: 60px;
    font-size: 9px;
    border-radius: 100%;
    line-height: 60px;
    text-align: center;
    background-color: rgb(247, 92, 92);
    color: #fff;
    margin-bottom: 5px;
}
.description {
    font-size: 18px;
    margin-top: 70px;
    margin-bottom: 50px;
}
.table-description {
    margin-bottom: 50px;
}
.table-description .nav-pills .nav-link {
    border-bottom: 2px solid transparent;
    border-radius: 0;
    padding: 20px 0;
    margin-right: 15px;
    line-height: 1;
    font-size: 19px;
    color: #333;
}
.table-description .nav-pills .nav-link.active {
    background: none;
    border-color: #bea67c;
    font-weight: 500;
    color: #bea67c;
}
.table-description .tab-content {
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 1px solid #ddd;
}
.table-description table {
    margin-bottom: 0;
}
.table-description table tbody,
.table-description table td,
.table-description table tfoot,
.table-description table th,
.table-description table thead,
.table-description table tr {
    border: 0;
    font-size: 18px;
}
.table-description tr td:first-child {
    width: 30%;
    color: #5d5d64;
}
.rating {
    line-height: 1.2;
}
.rating .star {
    width: 15px;
    height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: inline-block;
    vertical-align: middle;
}
.rating .star-full {
    background-image: url('/img/star-full.svg');
}
.rating .star-half {
    background-image: url('/img/star-half.svg');
}
.rating .star-blank {
    background-image: url('/img/star-blank.svg');
}
.rating .score {
    font-size: 15px;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    color: #999;
    margin-left: 5px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 2px;
}
.color_size_label {
    color: #999;
    font-size: 15px;
    margin-bottom: 5px;
}
.instock {
    display: inline-block;
    vertical-align: middle;
    color: #bea67c;
    font-size: 18px;
    margin-left: 20px;
    line-height: 1.2;
    margin-top: -4px;
}
.instock i {
    font-style: normal;
    font-size: 15px;
    color: #999;
}
.btn-addtocart {
    display: inline-block;
    vertical-align: middle;
}
.review_form textarea.form-control {
    resize: none;
    height: 150px;
}
/* Product Item */